.container {
    width: 1200px;
}

.img-span {
    color: #e746bf;
    padding-bottom: 30px;
    text-align: center;
    font-size: 25px;
}

h3 {
    font-family: 'system-ui';
    font-size: 20px;
    color: rgb(198, 21, 172);
    font-weight: 500;
    margin-top: 5px;
    margin-left: 35px;
}

.sf-1 {
    background-color: blue;
}

.blog {
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.bloc {
    display: flex;
    justify-content: center;
}

.blog1 {
    display: flex;
    justify-content: center;
}
.blog2 {
    display: flex;
    justify-content: space-between;
    margin-left: 300px;
}

.img {
    justify-content: center;
    text-align: center;
}

.img1 {
    margin-top: 50px;
}

.img-description {
    text-align: justify;
    margin-left: 10px;
    padding-top: 0px;
    margin-top: 0px;
    font-family: 'system-ui';
    font-size: 23px;
    color: rgb(93, 86, 92);
    line-height: 35 px;
    margin-right: 300px;
}

.titolo {
    text-align: center;
    color: rgb(212, 10, 118);
    margin-bottom: 10px;
    margin-top: 0px;
    padding-top: 0px;
}

.img-description1 {
    margin-top: 40px;
    margin-right: 5px;
    margin-left: 5px;
    background: linear-gradient(to top, #c471f5 0%, #fa71cd 100%);
    max-width: 280px;
    max-height: 120px;
    text-align: center;
    border-radius: 5px;
    border-color: blueviolet;
}
.action {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    margin-left: 5px;
    max-width: 580px;
    text-align: center;
    border-radius: 5px;
    border-color: blueviolet;
    border: #c471f5;
    background: linear-gradient(to top, #c471f5 0%, #fa71cd 100%);
}

p {
    font-family: 'system-ui';
    font-size: 23px;
    color: rgb(93, 86, 92);
    font-weight: 200;
    text-align: justify;
    line-height: 35 px;
}

.p-services {
    font-family: 'system-ui';
    font-size: 18px;
    color: rgb(242, 235, 242);
    font-weight: 200;
    margin-top: 10px;
    line-height: 30px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 0px;
}

.h3-services {
    font-family: 'system-ui';
    font-size: 20px;
    color: rgb(246, 243, 246);
    font-weight: 500;
    margin-top: 5px;
    text-align: center;
    padding-right: 5px;
    padding-left: 5px;
}

.p-action {
    font-family: 'system-ui';
    font-size: 20px;
    color: rgb(245, 241, 245);
    font-weight: 200;
    margin-top: 5px;
    margin-bottom: 5px;
    line-height: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
}

.h3-action {
    font-family: 'system-ui';
    font-size: 20px;
    color: rgb(248, 244, 248);
    font-weight: 500;

    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

.h1-description {
    text-align: center;
    font-family: 'system-ui';
    font-size: 40px;
    color: rgb(243, 113, 221);
    font-weight: 300;
    margin-top: 40px;
}

.h2-description {
    text-align: center;
    font-family: 'system-ui';
    font-size: 35px;
    color: rgb(243, 113, 221);
    font-weight: 300;
    margin-top: 10px;
}

.h2-description2 {
    text-align: center;
    font-family: 'system-ui';
    font-size: 35px;
    color: rgb(243, 113, 221);
    font-weight: 300;
    margin-top: 30px;
}

.button {
    border-radius: 5px;
    border: 0px;
    padding-bottom: 5px;
    padding-top: 5px;
    width: 140px;
    font-family: 'system-ui';
    font-size: 17px;
    background-color: #f7f2f6;
    color: rgb(141, 5, 141);
    border: rgb(69, 4, 66);
}

.generation-form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-generation {
    align-items: center;
    justify-content: center;
}

.text-generation {
    width: 700px;
    height: 30px;
}

.tab-content {
    align-items: center;
    justify-content: center;
}

.tab-buttons {
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
    display: flex;
}
.tab-buttons button {
    background-color: #e0e0e0;
    color: #333;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    margin-right: 8px;
    cursor: pointer;
}

.tab-buttons button.active {
    background-color: #ec16a1;
    color: #fff;
}

input.button {
    color: #ec16a1;
}

.h3-description {
    text-align: center;
    font-family: 'system-ui';
    font-size: 25px;
    color: rgb(243, 113, 221);
    font-weight: 300;
    margin-top: 10px;
}
