.image-gallery {
    column-count: 4;
    column-gap: 10px;
    margin: 0 auto;
    padding: 10px;
}

.gallery-image {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    text-align: center;
}

.box-gallery {
    display: flex;
    justify-content: center;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 20px;
}

.btn {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
    padding-top: 30px;
    align-items: center;
    margin: 0 auto;
}

.container-img {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@media all and (max-width: 1400px) {
    .box-gallery {
        display: flex;
        justify-content: center;
        margin-left: 200px;
        margin-right: 200px;
        margin-top: 20px;
    }
}
