/* NUOVA NAVBAR */

.navbar-position {
    display: flex;
    background-color: #ffffff;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
    margin-right: 200px;
}

.link-nav {
    margin-right: 30px;
    margin-left: 30px;
    font-family: 'system-ui';
    font-size: 20px;
    font-weight: 200;
    margin-top: 0;
    margin-bottom: 0;
    color: #ffffff;
}

@media all and (max-width: 1000px) {
    .navbar-position {
        display: flex;
        background-color: #ffffff;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;
    }

    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 8px;
        margin-right: 300px;
    }
}

@media all and (max-width: 800px) {
    .navbar-position {
        display: flex;
        background-color: #ffffff;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;
    }

    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 8px;
        margin-right: 100px;
    }
}

@media all and (max-width: 350px) {
    .navbar-position {
        display: flex;
        background-color: #ffffff;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;
    }

    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 8px;
        margin-right: 50px;
    }
}
