/* Stile generale del form */
.form-container {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 5px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}

/* Stile dei campi di input */
.form-container input[type='text'],
.form-container input[type='email'],
.form-container input[type='password'],
.form-container textarea {

    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

.text-area{

    width: 480;
}


/* Stile del pulsante di invio */
.form-container input[type='submit'] {
    
    padding-left: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

/* Stile del pulsante di invio al passaggio del mouse */
.form-container input[type='submit']:hover {
    background-color: #45a049;
}

/* Stile del messaggio di successo */
.success-message {
    color: #4caf50;
    font-weight: bold;
    margin-top: 10px;
}



.btn-cen {
    width: 60px;
    text-align: center;
    margin: 0 auto;
}
